/* 
 * Self-hosted Google Fonts for Tensor Logic Demo
 * 
 * Fonts downloaded from google-webfonts-helper (gwfh.mranftl.com)
 * 
 * Fonts:
 * - Crimson Pro (serif body text)
 * - JetBrains Mono (monospace code)
 * - Outfit (sans-serif display)
 */

/* Crimson Pro - Regular 400 */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/crimson-pro/crimson-pro-v28-latin-regular.woff2') format('woff2');
}

/* Crimson Pro - SemiBold 600 */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/crimson-pro/crimson-pro-v28-latin-600.woff2') format('woff2');
}

/* Crimson Pro - Italic 400 */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/crimson-pro/crimson-pro-v28-latin-italic.woff2') format('woff2');
}

/* JetBrains Mono - Regular 400 */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/jetbrains-mono/jetbrains-mono-v24-latin-regular.woff2') format('woff2');
}

/* JetBrains Mono - Medium 500 */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/jetbrains-mono/jetbrains-mono-v24-latin-500.woff2') format('woff2');
}

/* JetBrains Mono - SemiBold 600 */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/jetbrains-mono/jetbrains-mono-v24-latin-600.woff2') format('woff2');
}

/* Outfit - Light 300 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/outfit/outfit-v15-latin-300.woff2') format('woff2');
}

/* Outfit - Regular 400 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/outfit/outfit-v15-latin-regular.woff2') format('woff2');
}

/* Outfit - Medium 500 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/outfit/outfit-v15-latin-500.woff2') format('woff2');
}

/* Outfit - SemiBold 600 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/outfit/outfit-v15-latin-600.woff2') format('woff2');
}

/* Outfit - Bold 700 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/outfit/outfit-v15-latin-700.woff2') format('woff2');
}
